@model IEnumerable<TrabalhoFinalNode.Models.Domain.Aparelho>

@{
}

<div class="mt-2" style="width:50%">
   <div class="row">
        <h2>Aparelho</h2>
       <div class="col-md-4">
            <a href="/Aparelho/AddAparelho" class="btn btn-primary">Adicionar Aparelho</a>
       </div>
       <table class="table table-striped">
           <thead>
               <tr>
                    <th>id</th>
                    <th>Descrição</th>
                    <th>Marca</th>
                    <th>Valor</th>
                    <th>Ação</th>
               </tr>

                @foreach(var aparelho in Model)
                {
                   <tr>
                    <td>
                            @aparelho.id
                    </td>
                        <td>@aparelho.descricao</td>
                        <td>@aparelho.marca</td>
                        <td>@aparelho.valor</td>
                    <td>
                            <a class="btn btn-success" href="/Aparelho/EditAparelho?id=@aparelho.id">Editar</a>
                            <a class="btn btn-danger" href="/Aparelho/DeleteAparelho?id=@aparelho.id">Apagar</a>
                    </td>
               </tr> 
                }
           </thead>
       </table>
   </div>

</div>
